.auth-actions {
    display: flex;
    gap: 1rem;
  }
  
  .auth-button {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    background-color: var(--white);
    color: var(--primary-blue);
    cursor: pointer;
    user-select: none; /* Запрещает выделение текста при кликах */
    position: relative; /* Нужно для правильной работы transform */
    will-change: transform; /* Подготовка браузера к анимации */
  }
    
  .auth-button.login {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
  }
  
  .auth-button.logout {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
  }
  
  .auth-button:hover {
    opacity: 0.9;
  }
   
  .auth-button:active {
    transform: scale(0.9);
  }

 /* Для текста внутри кнопки */
.auth-button span {
  display: inline-block; /* Чтобы текст тоже масштабировался */
}